<!-- Start site footer -->
    <footer class="site-footer">
    <div class="container">
        <div class="site-footer-top">
            <!--<div class="row">
                <div class="col-md-4 widget footer_widget text_widget">
                    <h4>About our church</h4>
                    <hr class="sm">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>
                </div>
                <div class="col-md-4 widget footer_widget twitter_widget">
                    <h4>Twitter feeds</h4>
                    <hr class="sm">
                    <ul class="twitter-widget"></ul>
                </div>
                <div class="col-md-4 widget footer_widget newsletter_widget">
                    <h4>News subscription</h4>
                    <hr class="sm">
                    <p>Subscribe to our newsletter in order to receive the latest new &amp; articles. We promise we won't spam your inbox!</p>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>-->
            <!-- Quick Info -->
            <div class="quick-info">
                <div class="row justify-content-center text-center">
                    <div class="col-md-4 col-sm-6">
                        <h4><i class="fa fa-clock-o"></i> 崇拜時間</h4>
                        <p>Sundays @ 11:30 am<br>星期日上午11:30</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4><i class="fa fa-map-marker"></i> 地點</h4>
                        <p>1101 Vine Street<br>Philadelphia, PA 19107</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4><i class="fa fa-envelope"></i> 聯絡</h4>
                        <p>215-627-2360<br><a href="mailto:info@cccnc.org">info@cccnc.org</a></p>
                    </div>
                </div>
            </div>
            <div class="site-footer-bottom">
                <div class="row">
                    <div class="col-md-6 col-sm-6 copyrights-coll">
                        &copy; <span id="footer-copyright-year"></span> Chinese Christian Church + Center. All Rights Reserved
                    </div>
                    <div class="col-md-6 col-sm-6 copyrights-colr">
                        <nav class="footer-nav" role="navigation">
                            <ul>
                            <!--	<li><a href="index.html">Home</a></li>
                                <li><a href="donate.html">Donate now</a></li>
                                <li><a href="new-here.html">New here?</a></li>
                                <li><a href="contact.html">Contact</a></li>-->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End site footer -->