<html>
    <header>
        <script src="/components/3rdparties/Mustache/Mustache@4.20.js"></script>
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    </header>
    <body>
        <div class="body">
            <div class="main" role="main">
                <div id="content" class="content full">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-sm-9">
                                <div data-cccnc-event-listing 
                                    data-cccnc-event-listing-dataUrl="https://docs.google.com/spreadsheets/d/e/2PACX-1vS_kJkrw1D7NFMcwphXh7jnUD2Op7kIxmrzDUI1GWZ7QcSQVTnrJOEA2zWdkmrCmvOt9RFEFCJ0mgOe/pub?gid=0&single=true&output=csv"
                                    data-cccnc-event-listing-year="2014">
                                    loading...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script lang="js" src="/components/event-listing/event-listing.component.js"></script>
    </body>
</html>
